<div class="container" *ngIf="noteCategory">
    <div class="title-options">
        <h1>Notes - <span>{{noteCategory.name}}</span></h1> 
        <div class="note-options">
            <!-- <button routerLink="/note-categories"><i class="fa-solid fa-arrow-rotate-left"></i><span>Go back</span></button> -->
            <button [ngClass]="allSelected ? 'selected' : ''" (click)="switchAllSelected()"><i class="fa-solid fa-arrow-pointer"></i><span>Select All</span></button>
            <ng-container *ngIf="selectedBoxesCounter > 0">
                <button (click)="openDeleteNotesDialog()"><i class="fa-solid fa-trash-can"></i><span>Delete</span></button>
                <button [matMenuTriggerFor]="beforeMenu"><i class="fa-solid fa-arrows-up-down-left-right"></i><span>Move to</span></button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <button (click)="moveNotes(cat)" mat-menu-item *ngFor="let cat of categories">{{cat.name}}</button>
                </mat-menu>
            </ng-container>
        </div>
    </div>
    <div class="notes-container">
        <div class="note-add">
            <button (click)="openCreateNoteDialog()" matTooltip="Add new note"><i class="fa-solid fa-plus"></i></button>
        </div>
        <div class="note-container" *ngFor="let note of notes">
            <app-note 
                [note]="note"
                [categories]="categories"
                (onSelectedBox)="verifySelectedBoxes($event)" 
                (onDeletedBox)="deleteNote($event)"
                (onMovedBox)="moveNote($event)">
            </app-note>
        </div>
    </div>
</div>




